<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >
            GAMEZONIA
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a
            *ngFor="let item of menuItems"
          [routerLink]="item.url"
           routerLinkActive="router-link-active"
           class="list-group-item list-group-item-action bg-light"
        >
          <i class="{{item.icon}}"></i> {{item.label}}
        </a>
        <!--
        <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-columns"></i> Dashboard
        </a>
        <a [routerLink]="['/admin/users']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-user"></i> Users
        </a>
        <a [routerLink]="['/admin/genres']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light">
          <i class="fas fa-atlas"></i> genres
        </a>
        -->
    </div>
</div>
<!-- /#sidebar-wrapper -->
