<div class="container mt-4" *ngIf="meData && available">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <app-checkout-resume></app-checkout-resume>

    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Información de pago</h4>
      <form class="needs-validation" (ngSubmit)="sendData()" #forma="ngForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName" class="mr-2">Nombre</label>
            <span>{{meData?.user.name}}</span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName" class="mr-2">Apellidos</label>
            <span>{{meData?.user.lastname}}</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="username" class="mr-2">Username</label>
          <span>{{meData?.user.email}}</span>
        </div>

        <div class="mb-3">
          <label for="email" class="mr-5"><span class="text-muted">Dirección de entrega</span></label>
          <textarea class="form-control"
                    id="address"
                    #addressData="ngModel"
                    name="address"
                    [(ngModel)]="address"
                    [ngClass]="{'is-valid': !addressData.invalid, 'is-invalid': addressData.invalid}"
                    cols="50"
                    rows="4"
                    required=""
          ></textarea>
          <p class="invalid-feedback">
            Por favor introduzca su dirección
          </p>
        </div>


        <hr class="mb-4">

        <h4 class="mb-3">Información de tarjeta de crédito</h4>

        <div class="row">
          <div class="col-lg">
            <ng-stripe-pay-form
              [key]="key"
              [hidePostalCode]="true"
            ></ng-stripe-pay-form>
          </div>
        </div>

        <hr class="mb-4">
      </form>
      <button class="signup-btn" [disabled]="!forma.valid || block"  (click)="sendData()" >Pagar Pedido</button>
    </div>
  </div>
</div>
