<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>
                Gamezonia - 2020 - !! Videojuegos a la mejor opción
            </p>
            <p>
                Gila zubia, 20590 . Lima (Oerú)<br>
                Tlf: 987654321 - Contacto: jesusfuentes2808@gmail.com<br>
                <a [routerLink]="['/contact']" class="nav-link" href="#">Contacta con nosotros</a>
            </p>
        </address>
        <ul class="social nav justify-content-center">
            <li >
                <a href="http://youtube.com" target="_blank">
                    <img src="/assets/img/icons/youtube.png" alt="">
                </a>
            </li>
            <li>
                <a href="http://twitter.com" target="_blank">
                    <img src="/assets/img/icons/twitter.png" alt="">
                </a>
            </li>
            <li>
                <a href="http://facebook.com" target="_blank">
                    <img src="/assets/img/icons/facebook.png" alt="">
                </a>
            </li>
            <li>
                <a href="http://youtube.com" target="_blank"></a>
            </li>
        </ul>
    </div>
</footer>
