<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (submit)="addUser()" #forma="ngForm">
        <h1>Registro de usuario</h1>
        <p>
          Rellena los datos del formulario para efectuar el registro de tu
          cuenta de usuario.
        </p>
        <hr />
        <label for="name"><b>Nombre</b></label>
        <input
          #name="ngModel"
          [(ngModel)]="register.name"
          class="form-control"
          [ngClass]="{'is-valid': name.valid, 'is-invalid': name.invalid}"
          type="text" placeholder="Enter name" name="name" required
        />
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">
            Ingresar una nombre
          </div>
        </div>
        <label for="name"><b>Apellidos</b></label>
        <input
          #lastname="ngModel"
          [(ngModel)]="register.lastname"
          class="form-control"
          [ngClass]="{'is-valid': lastname.valid, 'is-invalid': lastname.invalid}"
          type="text" placeholder="Enter lastname" name="lastname" required />
        <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <div *ngIf="lastname.errors.required">
            Ingresar un apellido(s)
          </div>
        </div>
        <label for="email"><b>Email</b></label>
        <input
          [pattern]="emailPattern"
          #email="ngModel"
          [(ngModel)]="register.email"
          class="form-control"
          [ngClass]="{'is-valid': email.valid, 'is-invalid': email.invalid}"
          type="text" placeholder="Enter Email" name="email" required />
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
            Ingresar un apellido(s)
          </div>
          <div *ngIf="email.errors && email.errors.pattern">
            Ingresar un email válido (xxxxx@gsss.com)
          </div>
        </div>
        <label for="email"><b>Fecha de nacimiento</b></label>
        <app-datepicker-legal-age
          (newDate)="dataAsign($event)">
        </app-datepicker-legal-age>
        <label for="psw"><b>Password</b></label>
        <input
          #password="ngModel"
          class="form-control"
          [(ngModel)]="register.password"
          type="password"
          placeholder="Enter Password"
          lass="form-control"
          [ngClass]="{'is-valid': password.valid, 'is-invalid': password.invalid}"
          name="psw"
          required
        />
        <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">
            Ingresar un apellido(s)
          </div>
        </div>

        <p>
          By creating an account you agree to our
          <a href="#" style="color: dodgerblue;">Terms & Privacy</a>.
        </p>
        <p>
          ¿Ya tiene una cuenta?
          <a [routerLink]="['/login']" style="color: dodgerblue;"
          >Iniciar sesión</a
          >.
        </p>
        <div class="row">
          <div class="col-lg">
            <button [disabled]="forma.invalid" type="submit" class="signup-btn">Registrarse</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg"></div>
  </div>
</div>
